<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/myCMStwo/public/index.php">MY CMS TWO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/myCMStwo/public/index.php">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myCMStwo/public/index.php?seo_name=about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myCMStwo/public/index.php?seo_name=contact_us">Contact Us</a>
                </li>

            </ul>

        </div>
    </div>
</nav>